// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: rgb(246, 179, 27),
    200: rgb(245, 174, 10),
    300: rgb(220, 157, 9),
    400: rgb(196, 140, 8),
    500: rgb(171, 122, 7),
  ),
  secondary: (
    100: rgb(78, 85, 165),
    200: rgb(73, 80, 156),
    300: rgb(65, 71, 139),
    400: rgb(57, 62, 121),
    500: rgb(49, 54, 104),
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
